[Unit]
Description=Push IP Address to slack

[Service]
KillMode=process
ExecStart=%h/IP-PUSH/ip_push.py %h/IP-PUSH/slack_uri.txt
Type=simple
Restart=always
RestartSec=10

Environment=DISPLAY=:1

[Install]
WantedBy=default.target

